# requires python3.7
experta==1.9.4
frozendict==1.2
greenlet==1.1.2
importlib-metadata==4.10.1
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
schema==0.6.7
SQLAlchemy==1.4.29
typing_extensions==4.0.1
zipp==3.7.0
